page {
  background: #e6e6e6;
  box-sizing: border-box;
  font-size: 28px;
  font-family: Monospaced Number,Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif!important;
}

view, text {
  box-sizing: border-box;
}

image {
  height:auto;
}
