@import '../../../../styles/mixin.scss';

.info-list {
  font-size: 28px;
  .at-col-6 {
    max-width: 48.5%;
  }

  .info-item {
    .title {
      font-size: 26px;
      margin: 18px 0 30px;
      height: 70px;
      @include show_line(2);
    }
  }
}

.img-wrap {
  position: relative;
  image {
    display: block;
  }

  .star-flag {
    position: absolute;
    left: 0;
    top: 0;
    background: url('../../../../assets/images/svg/hot.svg') 10px 9px rgba(0, 0, 0, .1) no-repeat;
    background-size: 22px 22px;
    color: #fff;
    font-size: 24px;
    padding: 4px 4px 4px 38px;
    border-radius: 10px 0px 10px 0px;
  }
  .type-flag {
    position: absolute;
    right: 0;
    top: 0;
    background: #0CB1FF;
    color: #fff;
    font-size: 24px;
    padding: 4px 10px;
    border-radius: 0px 10px 0px 10px;
  }
}

.img-info {
  width: 100%;
}
