page {
  background: #fff;
}
.help-container {
  background: #e6e6e6;
  .at-textarea {
    background-color: #e6e6e6 !important;
    color: #999;
  }
  .at-image-picker__choose-btn {
    background: #fff;
  }
  .at-textarea {
    border: none;
  }
  .foot-btn {
    width: 600px;
    height: 90px;
    color: #fff;
    text-align: center;
    position: fixed;
    margin: auto;
    bottom: 16px;
    left: 0;
    right: 0;
    border-radius: 160px;
    background: #0cb1ff;
    line-height: 90px;
  }
}
