.hot-word {
  .title {
    display: flex;
    margin: 24px 0 5px;
    .title-inner-img {
      width: 32px;
      height: 32px;
      display: inline-block;
    }
    text {
      flex: 1;
      font-size: 22px;
      color: #a8a8a8;
      padding-left: 12px;
    }
  }

  .hot-word-list {
    margin-top: 24px;
    .hot-badge {
      margin: 0 10px 13px 0;
      .at-button--small {
        padding: 0 24px;
      }
    }
  }
}

