.article-container {
  margin-top: 18px;
  padding: 5px 0 32px;
  border-radius: 16px;
  background: #fff;
  .article-info {
    margin: 30PX 0 16PX;
    display: flex;
    > View {
      margin-left: 18PX;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
    }
  }
}
