page {
  width: 100%;
  height: 100%;
}
.team-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .team-wrap {
    flex: 1;
    overflow-y: auto;
    display: block;
    -webkit-overflow-scrolling: touch;
    .team-banner {
      width: 100%;
      height: 365px;
      position: relative;
      .banner-img {
        width: 100%;
        height: 100%;
      }
      .share-btn {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 44px;
        text-align: center;
        width: 135px;
        height: 60px;
        line-height: 60px;
        font-size: 24px;
        background: #1848d7;
        color: #fff;
        border-radius: 30px;
      }
      .up {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 40px;
        right: 40px;
      }
    }
    .author-info {
      margin: 16px 28px;
      padding: 12px 20px;
      background: #fff;
      border-radius: 8px;
      .top {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        Image {
          width: 60px;
          height: 60px;
        }
        Text {
          color: #726d76;
          margin-left: 14px;
        }
      }
      .msg {
        line-height: 45px;
      }
    }
    .team-member {
      flex: 1;
      width: 100%;
      .title {
        background: #fff;
        padding-left: 48px;
        font-size: 34px;
        margin-bottom: 28px;
        height: 100px;
        line-height: 100px;
      }
      .member-list {
        display: flex;
        flex-wrap: wrap;
        padding-left: 30px;
        .member-item {
          &:nth-child(odd) {
            margin-right: 30px;
          }
          display: flex;
          align-items: center;
          background: #fff;
          padding: 20px;
          border-radius: 20px;
          width: calc(100vw/2 - 45px);
          margin-bottom: 30px;
          Image {
            width: 60px;
            height: 60px;
            margin-right: 10px;
          }
          > View {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
          }
        }
      }

    }
  }
  .apply-join {
    width: 100%;
    height: 100px;
    background: #1848d7;
    color: #fff;
    text-align: center;
    line-height: 100px;
    .btn-share {
      color: inherit;
      width: 100%;
    }
  }

}
