.about-container {
  .about-info-wrapper {
    height: 360px;
    background: #fff;
    border-radius: 0px 0px 26px 26px;
  }
  .common-tools-wrapper {
    border-radius: 40px;
    background: #fff;
    padding: 40px 30px 56px;
    margin-top: 30px;
    .tools-title {
      font-size: 28px;
      font-weight: 800;
      margin-bottom: 55px;
    }
    .common-tools-list {
      display: flex;
      justify-content: space-between;
      .common-tools-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 2.3;
        font-size: 13PX;
        .icon {
          margin-bottom: 20px;
        }
      }
    }
  }
}
